# Basic Function

Functions 	Description
Pandas DataFrame.append()          Add the rows of other dataframe to the end of the given dataframe.
Pandas DataFrame.apply()           Allows the user to pass a function and apply it to every single value of the Pandas series.
Pandas DataFrame.assign()          Add new column into a dataframe.
Pandas DataFrame.astype()          Cast the Pandas object to a specified dtype.astype() function.
Pandas DataFrame.concat()          Perform concatenation operation along an axis in the DataFrame.
Pandas DataFrame.count()           Count the number of non-NA cells for each column or row.
Pandas DataFrame.describe()   Calculate some statistical data like percentile, mean and std of the numerical values of the Series or DataFrame.

Pandas DataFrame.drop_duplicates()  Remove duplicate values from the DataFrame.
Pandas DataFrame.groupby()	        Split the data into various groups.
Pandas DataFrame.head()             Returns the first n rows for the object based on position.
Pandas DataFrame.hist()          	Divide the values within a numerical variable into "bins".
Pandas DataFrame.iterrows()     	Iterate over the rows as (index, series) pairs.
Pandas DataFrame.mean()     	     Return the mean of the values for the requested axis.
Pandas DataFrame.melt()     	     Unpivots the DataFrame from a wide format to a long format.
Pandas DataFrame.merge()           	Merge the two datasets together into one.
Pandas DataFrame.pivot_table()     	Aggregate data with calculations such as Sum, Count, Average, Max, and Min.
Pandas DataFrame.query()     	     Filter the dataframe.
Pandas DataFrame.sample()          	Select the rows and columns from the dataframe randomly.
Pandas DataFrame.shift()          	Shift column or subtract the column value with the previous row value from the dataframe.
Pandas DataFrame.sort()     	     Sort the dataframe.
Pandas DataFrame.sum()          	Return the sum of the values for the requested axis by the user.
Pandas DataFrame.to_excel()     	Export the dataframe to the excel file.
Pandas DataFrame.transpose()     	Transpose the index and columns of the dataframe.
Pandas DataFrame.where()          	Check the dataframe for one or more conditions.

Một số function thông dụng cơ bản trong Pandas

df.head(n): Hiển thị 'n' records đầu trong dataframe.
df.tail(n): Hiện thị 'n' records cuối trong dataframe.
df.shape: Hiển thị số dòng, số cột trong dataframe.
df.info(): Hiển thị thông tin về dataframe như: số dòng, số cột, loại dữ liệu và giá trị NULL của mỗi cột.
df.size: Hiển thị số phần tử của dataframe (size = số dòng x số cột).
df.ndim: Hiển thị số chiều của dataframe.
df.values: Hiển thị dataframe dưới dạng ma trận.

df.T: Chuyển cột thành dòng và dòng thành cột trong dataframe.
df.axes: Trả về giá trị là danh sách các dòng và các cột.
df.dtypes: Trả về giá trị là loại dữ liệu của các cột.
df.empty: Trả về giá trị là Boolean (True or False). True nếu có empty, False nếu không có empty.
df.describe(): Thể hiện giá trị min, max, count, std... của dataframe.

df.columns: List ra các columns có trong dataframe.
df.to_string()
df.isNull(): Kiểm tra có bao nhiêu giá trị Null trong dataframe

df.append()
df.dropna()
df.drop_duplicates()

df.value_counts(): đếm số lượng các giá trị (được groupby) trong column, giá trị NaN sẽ không đếm

In [23]:
#Để thực hành một số function cơ bản, ta tiến hành tạo 1 dataframe như sau

import pandas as pd
import numpy as np

# Tạo dictionar với cặp dữ liệu key:value, trong đó value là một list
d = {'Name':['Tom','James','Ricky','Vin','Steve','Smith','Jack'],
   'Age':[25,26,25,23,30,29,23],
   'Rating':[4.23,3.24,3.98,2.56,3.20,4.6,3.8]}

data = pd.DataFrame(d) # Lệnh tạo một dataframe từ dictionary 'd'
data.head()

    Name  Age  Rating
0    Tom   25    4.23
1  James   26    3.24
2  Ricky   25    3.98
3    Vin   23    2.56
4  Steve   30    3.20

# describe()
Hàm describe() được sử dụng với tham số include.
Tham số include() này mặc định sẽ được bỏ qua.
Khi đó, việc describe() sẽ được thực hiện trên các columns là number.
Tham số include bao gồm 3 giá trị.

- object − Summarizes String columns
- number − Summarizes Numeric columns
- all − Summarizes all columns together (Should not pass it as a list value)

In [5]:
# Xem mô tả của cả dataframe
data.describe() # Thực hiện trên columns có giá trị là number

data.describe(include='all') # thực hiện trên tất cả các columns (cả object và number)

             Age    Rating
count   7.000000  7.000000
mean   25.857143  3.658571
std     2.734262  0.698628
min    23.000000  2.560000
25%    24.000000  3.220000
50%    25.000000  3.800000
75%    27.500000  4.105000
max    30.000000  4.600000

Vấn đề đặt ra: Giả sử trong trường hợp dữ liệu của chúng ta rất nhiều, dataframe rất lớn. Nếu thực hiện nhữn function này trên toàn bộ dataframe thì sẽ rất tốn tài nguyên máy tính và thời gian.

Để tiết kiệm và việc tính toán được nhanh chóng, ta nên thực hiện trên columns.

In [60]:
# Xem mô tả dữ liệu trên columns 'Age'
# Thực hiện việc lấy column trong dataframe, sau đó áp dụng function giống như khi thực hiện trên dataframe

data['Age'].describe()

count     7.000000
mean     25.857143
std       2.734262
min      23.000000
25%      24.000000
50%      25.000000
75%      27.500000
max      30.000000
Name: Age, dtype: float64

# isnull()

In [21]:
# Kiểm tra giá trị Null của dataframe
# Một vài ví dụ

data.isnull() # Kiểm tra giá trị Null và trả về 1 dataframe các giá trị True or False

data.isnull().any() # Trả về kết quả là các columns với giá trị True or False cho từng column

data.isnull().any().any() # Trả về kết quả là True or False cho cả dataframe

data.isnull().sum() # đếm các giá trị Null có trong từng column

data.isnull().sum().sum() # đếm số lượng các giá trị Null trong toàn dataframe

data['Age'].isnull().sum()

False

# info()

In [6]:
# Xem mô thông tin dataframe
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    7 non-null      object
 1   Age     7 non-null      int64
 2   Rating  7 non-null      float64
dtypes: float64(1), int64(1), object(1)
memory usage: 296.0+ bytes

# dropna()
Syntax: DataFrameName.dropna(axis=0, how='any', thresh=None, subset=None, inplace=False)
- asix=0 (index) remove dòng nào có giá trị NA. axis=1 (columns) remove cột nào có giá trị NA
- how=all hoặc any. Giá trị mặc định là any. All: Remove dòng hoặc cột chứa tất cả giá trị NA. Any: remove nếu trong dòng hoặc cột có 1 giá trị NA.
- thresh=3: remove dòng hoặc cột nếu có 3 giá trị NA
- subset=[colum1. colum2]: Kiểm tra giá trị NA các columns trong subset thay vì toàn bộ dataframe

# Summarizing Data

Hàm describe() được sử dụng với tham số include. Tham số include() này mặc định sẽ được bỏ qua. Khi đó, việc describe() sẽ được thực hiện trên các columns là number.

Tham số include bao gồm 3 giá trị.
- object − Summarizes String columns
- number − Summarizes Numeric columns
- all − Summarizes all columns together (Should not pass it as a list value)

In [73]:
data.describe(include='all')

       Name        Age    Rating
count     7   7.000000  7.000000
unique    7        NaN       NaN
top     Tom        NaN       NaN
freq      1        NaN       NaN
mean    NaN  25.857143  3.658571
std     NaN   2.734262  0.698628
min     NaN  23.000000  2.560000
25%     NaN  24.000000  3.220000
50%     NaN  25.000000  3.800000
75%     NaN  27.500000  4.105000
max     NaN  30.000000  4.600000

# Reindexing
Index mang ý nghĩa định danh cho các dòng trong dataframe. Index đặc biệt quan trọng trong việc ghép nối dữ liệu lại với nhau.

In [ ]:
# Ví dụ câu lệnh reindex()

ordered = ['Jan','Apr','Jul','Oct']

quarterly_sales_2016.reindex(ordered)