Một số khái niệm trong thống kê:

- Mean (trung bình cộng): Giá trị trung bình cộng
- Correlation: Thể hiện sự tương quan giữa các biến với nhau. Giá trị càng gần = 1 thể hiện sự tương quan càng cao.
- Median: là giá trị ở của dãy giá trị.
- Standard Deviation (std): Độ lệch chuẩn đo lường độ phân tán của tập dữ liệu so với giá trị trung bình của nó và được tính là căn bậc hai của phương sai.

    df.mean() Trả về giá trị trung bình của tất cả các columns.
    df.corr() Trả về giá trị tương quan giữa các columns trong dataframe.
    df.count() Trả về số lượng các giá trị Null của mỗi cột trong dataframe.
    df.max() Trả về giá trị lớn nhất của mỗi columns trong dataframe.
    df.min() Trả về giá trị nhỏ nhất của mỗi columns trong dataframe.
    df.median() Trả về giá trị ở giữa (trung vị) của mỗi columns.
    df.std() Trả về giá trị độ lệch chuẩn của mỗi columns.
    df.value_counts() đếm số lượng dữ liệu đối với từng giá trị trong mỗi column, giá trị NaN sẽ không count.

In [9]:
#Để thực hành một số function cơ bản, ta tiến hành tạo 1 dataframe như sau

import pandas as pd
import numpy as np

# Tạo dictionary với cặp dữ liệu key:value, trong đó value là một list
d = {'Name':['Tom','James','Ricky','Vin','Steve','Smith','Jack'],
   'Age':[25,26,25,23,30,29,23],
   'Rating':[4.23,3.24,3.98,2.56,3.20,4.6,3.8]}

data = pd.DataFrame(d) # Lệnh tạo một dataframe từ dictionary 'd'
data.head()

    Name  Age  Rating
0    Tom   25    4.23
1  James   26    3.24
2  Ricky   25    3.98
3    Vin   23    2.56
4  Steve   30    3.20

In [3]:
# Thể hiện giá trị tương quan giữa các cột
# Giá trị càng gần = 1 thể hiện sự tương quan càng lớn.

data.corr()

             Age    Rating
Age     1.000000  0.259006
Rating  0.259006  1.000000

In [7]:
data.median()

C:\Users\HUONGT~1\AppData\Local\Temp/ipykernel_9176/4184645713.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  data.median()

Age       25.0
Rating     3.8
dtype: float64

In [ ]:
data.std()

# Summarizing Data
Ngoài việc sử dụng các hàm thông kê riêng lẻ, ta sử dụng hàm describe() để xem các thông số: mean, median, std...

Hàm describe() được sử dụng với tham số include. Tham số include() này mặc định sẽ được bỏ qua. Khi đó, việc describe() sẽ được thực hiện trên các columns là number.

Tham số include bao gồm 3 giá trị.
- object − Summarizes String columns
- number − Summarizes Numeric columns
- all − Summarizes all columns together (Should not pass it as a list value)

In [11]:
data.describe(include='all')

       Name        Age    Rating
count     7   7.000000  7.000000
unique    7        NaN       NaN
top     Tom        NaN       NaN
freq      1        NaN       NaN
mean    NaN  25.857143  3.658571
std     NaN   2.734262  0.698628
min     NaN  23.000000  2.560000
25%     NaN  24.000000  3.220000
50%     NaN  25.000000  3.800000
75%     NaN  27.500000  4.105000
max     NaN  30.000000  4.600000