# Filtering
Để học và thực hành phần này, chúng ta sử dụng file student.csv

In [78]:
# Import dữ liệu từ file student.csv

import pandas as pd

data = pd.read_csv('student.csv', encoding="utf-8", sep=';')

data.head(10)

,ID,Name,BOD,Gender,Mark,Class
0,16050007.0,Đặng Phương Anh,24/02/1998,F,7.0,QH-2016-E KTPT
1,16051722.0,Đinh Thị Vân Anh,21/11/1998,F,9.0,QH-2017-E KINH TẾ
2,16050014.0,Đỗ Lan Anh,NaN,F,4.0,QH-2017-E KTPT
3,16051723.0,Kiều Ngọc Ánh,06/10/1998,F,6.0,QH-2017-E KTPT
4,16050008.0,Lê Ngọc Ánh,17/02/1998,F,3.0,QH-2017-E KTPT
5,16052308.0,Vũ Thị Ánh,12/07/1998,F,9.0,QH-2017-E KINH TẾ
6,16051728.0,Nguyễn Đức Bình,NaN,F,6.0,QH-2016-E KTPT
7,16051726.0,Nguyễn Ngọc Diệp,10/10/1998,F,8.0,QH-2017-E KINH TẾ
8,16051725.0,Nguyễn Thị Ngọc Diệp,08/10/1998,F,7.0,QH-2017-E KTPT
9,16050018.0,Nguyễn Kim Dung,20/10/1998,F,7.0,QH-2016-E KTPT

In [87]:
# Tình huống đặt ra là dataframe của chúng ta có quá nhiều dữ liệu
# chúng ta chỉ cần chọn ra những columns cần thiết để thực hiện bài toán
# Giải pháp: chúng ta tạo một dataframe mới từ dataframe gốc

data[['Name','BOD','Gender','Mark']] # Tạo ra một dataframe mới với các columns là 'Name','BOD','Gender' và 'Mark'

In [69]:
# Lọc theo điều kiện Gender là Female
data[data['Gender'] == 'F']

In [68]:
# Lọc theo điều kiện điểm số lớn hơn 5
data[data['Mark'] > 5]

In [76]:
# Lọc theo nhiều điều kiện
# Lọc theo điều kiện giới tính là M và điểm số lớn hơn 5

data[(data['Mark'] > 5) & (data['Gender']=='M')]

,ID,Name,BOD,Gender,Mark,Class
13,16051730.0,Mai Thị Giang,08/09/1998,M,9.0,QH-2017-E KTPT
16,16050028.0,Nguyễn Thị Thúy Hiền,12/03/1998,M,8.0,QH-2017-E KINH TẾ
21,NaN,Phùng Thị Bích Hoàn,04/11/1998,M,9.0,QH-2017-E KTPT
23,17050035.0,Nguyễn Thanh Huệ,12/04/1999,M,7.0,QH-2016-E KTPT
34,16050084.0,Phạm Lê Diệu Linh,21/08/1998,M,6.0,QH-2016-E KTPT
40,NaN,Nguyễn Thu Ngân,20/08/1998,M,8.0,QH-2017-E KTPT
61,16050140.0,Trần Thị Trang,29/12/1998,M,7.0,QH-2016-E KTPT

In [ ]:
# Hiển thị danh sách Sinh viên không có điểm số

data[data['Mark'].isnull()]

# Hiển thị danh sách SV Nam chưa có điểm số
data[(data['Mark'].isnull()) & (data['Gender']=='M')]

# Sorting

Sử dụng phương thức sort_index() để sort dữ liệu. Mặc định sẽ sort trên cột được index và theo thứ tự tăng dần.

sort_index(ascending=False) # Sort theo thứ tự giảm dần, nếu tham số này bỏ qua thì sort theo thứ tự tăng dần.
sort_index(axis=1) # Tham số asix=1 sort theo cột, asix = 0 sort theo hàng (theo stt hoặc ký tự alphabet).

sort_values(by=column_name) # Sort theo dữ liệu ở column_name
sort_values(by=[columns1, columns2]) # Sort theo dữ liệu ở cột 1 và cột 2, cột 1 là cột chính.

In [1]:
# Import dữ liệu từ file student.csv

import pandas as pd

data = pd.read_csv('student.csv', encoding="utf-8", sep=';')

data.head(5)

           ID              Name         BOD Gender  Mark              Class
0  16050007.0   Đặng Phương Anh  24/02/1998      F   7.0     QH-2016-E KTPT
1  16051722.0  Đinh Thị Vân Anh  21/11/1998      F   9.0  QH-2017-E KINH TẾ
2  16050014.0        Đỗ Lan Anh         NaN      F   4.0     QH-2017-E KTPT
3  16051723.0     Kiều Ngọc Ánh  06/10/1998      F   6.0     QH-2017-E KTPT
4  16050008.0       Lê Ngọc Ánh  17/02/1998      F   3.0     QH-2017-E KTPT

In [64]:
# Sort dữ liệu theo ID của sinh viên
sorted_df=data.sort_values(by='ID')

print(sorted_df)

            ID                Name         BOD Gender  Mark           Class
44  15050806.0    Nguyễn Thị Nhung  06/02/1996      F   NaN  QH-2016-E KTPT
52  15050826.0     Hoàng Như Quỳnh  09/10/1997      F   6.0  QH-2016-E KTPT
0   16050007.0     Đặng Phương Anh  24/02/1998      F   7.0  QH-2016-E KTPT
4   16050008.0         Lê Ngọc Ánh  17/02/1998      F   3.0  QH-2017-E KTPT
2   16050014.0          Đỗ Lan Anh         NaN      F   4.0  QH-2017-E KTPT
..         ...                 ...         ...    ...   ...             ...
40         NaN     Nguyễn Thu Ngân  20/08/1998      M   8.0  QH-2017-E KTPT
62         NaN     Trịnh Mai Trang  25/06/1998      F   8.0  QH-2017-E KTPT
74         NaN  Nguyễn Thị Hải Vân  18/09/1998      F   9.0  QH-2017-E KTPT
77         NaN                 NaN         NaN    NaN   NaN             NaN
78         NaN                 NaN         NaN    NaN   NaN             NaN

[79 rows x 6 columns]

# Group By

Một số phương thức trong hàm groupby()

GroupBy.count()	                Compute count of group, excluding missing values
GroupBy.cumcount([ascending])	Number each item in each group from 0 to the length of that group - 1.
GroupBy.first(**kwargs)        	Compute first of group values
GroupBy.head([n])	        Returns first n rows of each group.
GroupBy.last(**kwargs)	Compute last of group values
GroupBy.max(**kwargs)	Compute max of group values
GroupBy.mean(*args, **kwargs)	Compute mean of groups, excluding missing values
GroupBy.median(**kwargs)	Compute median of groups, excluding missing values
GroupBy.min(**kwargs)	Compute min of group values
GroupBy.ngroup([ascending])	Number each group from 0 to the number of groups - 1.
GroupBy.nth(n[, dropna])	Take the nth row from each group if n is an int, or a subset of rows if n is a list of ints.
GroupBy.ohlc()	Compute sum of values, excluding missing values
GroupBy.prod(**kwargs)	Compute prod of group values
GroupBy.size()	Compute group sizes
GroupBy.sem([ddof])	Compute standard error of the mean of groups, excluding missing values
GroupBy.std([ddof])	Compute standard deviation of groups, excluding missing values
GroupBy.sum(**kwargs)	Compute sum of group values
GroupBy.var([ddof])	Compute variance of groups, excluding missing values
GroupBy.tail([n])	Returns last n rows of each group

In [61]:
# Đếm số lượng sinh viên đạt được ở từng điểm số (Group theo Mark)
# Các ô có giá trị rỗng sẽ được bỏ qua

grouped = data.groupby('Mark').count()
print (grouped)

      ID  Name  BOD  Gender  Class
Mark
3.0    6     6    6       6      6
4.0    8     8    7       8      8
5.0    7     9    8       9      9
6.0   11    11   10      11     11
7.0    9     9    9       9      9
8.0    6     9    9       9      9
9.0    7     9    9       9      9

In [53]:
# Hiển thị danh sách sinh viên có điểm cao nhất trong từng lớp
 

grouped = data.groupby('Class') # Groupby theo lớp

print (grouped['Mark','Name'].max()) # Hiển thị danh sách có điểm số cao nhất

# Với 2 lệnh trên, chúng ta cũng có thể viết gọn lại như sau
grouped = data.groupby('Class').max()
print (grouped)

                             ID              Name Gender  Mark
Class
QH-2015-E KTPT       16051767.0   Nguyễn Văn Nhân      F   5.0
QH-2015-E KTPT-LUẬT  16050115.0  Lê Thị Kiều Oanh      F   NaN
QH-2016-E KINHTE     16052318.0        Đỗ Thị Hoa      F   9.0
QH-2016-E KTPT       17050090.0   Đặng Phương Anh      M   9.0
QH-2017-E KINH TẾ    16052308.0       Đỗ Thị Hồng      M   9.0
QH-2017-E KTPT       17050098.0        Đỗ Lan Anh      M   9.0
QH-2017-E KẾ TOÁN    16050158.0    Phạm Thị Hà Vy      F   5.0

C:\Users\HUONGT~1\AppData\Local\Temp/ipykernel_9056/2394487248.py:9: FutureWarning: Dropping invalid columns in DataFrameGroupBy.max is deprecated. In a future version, a TypeError will be raised. Before calling .max, select only columns which should be valid for the function.
  grouped = data.groupby('Class').max()

In [59]:
grouped = data.groupby('Class').groups
print (grouped)

{'QH-2015-E KTPT': [42], 'QH-2015-E KTPT-LUẬT': [47], 'QH-2016-E KINHTE': [19, 28, 54, 65], 'QH-2016-E KTPT': [0, 6, 9, 11, 17, 18, 23, 24, 25, 26, 27, 29, 33, 34, 43, 44, 49, 50, 51, 52, 55, 57, 58, 59, 61, 63, 67, 69, 70, 71, 73, 75, 76], 'QH-2017-E KINH TẾ': [1, 5, 7, 12, 15, 16, 22, 46], 'QH-2017-E KTPT': [2, 3, 4, 8, 10, 13, 14, 20, 21, 30, 31, 32, 35, 36, 37, 38, 39, 40, 41, 45, 48, 53, 56, 60, 62, 66, 68, 72, 74], 'QH-2017-E KẾ TOÁN': [64]}

In [62]:
# Tính tổng của một column nào đó được groupby theo nhóm
# Ví dụng dùng cái này để tính tổng doanh thu theo từng tháng, từng năm

grouped1 = data.groupby('Mark').sum()
print (grouped1)

               ID
Mark
3.0    98306029.0
4.0   129406904.0
5.0   112355722.0
6.0   177558272.0
7.0   146456169.0
8.0    97305425.0
9.0   113361136.0