# Concatenating

Dùng function concat() để nối các dataframe lại với nhau

pd.concat(
    objs,
    axis=0,   #  Default=0 nối theo chiều dọc (cột), axis=1 nối theo chiều ngang (dòng)  
    join="outer", #inner là nối những dòng có index giống nhau. outer là nối vào tất cả các dòng và cột
    ignore_index=False, # Nếu = True thi dataframe mới đc đánh số lại từ 0 đến n-1
    keys=None,
    levels=None,
    names=None,
    verify_integrity=False,
    copy=True,
)

In [1]:
import pandas as pd
df1 = pd.DataFrame({
                    "A": ["A0", "A1", "A2", "A3"],
                    "B": ["B0", "B1", "B2", "B3"],
                    "C": ["C0", "C1", "C2", "C3"],
                    "D": ["D0", "D1", "D2", "D3"],
                    },index=[0, 1, 2, 3],)

df2 = pd.DataFrame({
                    "A": ["A4", "A5", "A6", "A7"],
                    "B": ["B4", "B5", "B6", "B7"],
                    "C": ["C4", "C5", "C6", "C7"],
                    "D": ["D4", "D5", "D6", "D7"],
                    },index=[4, 5, 6, 7],)

df3 = pd.DataFrame({
                    "A": ["A8", "A9", "A10", "A11"],
                    "B": ["B8", "B9", "B10", "B11"],
                    "C": ["C8", "C9", "C10", "C11"],
                    "D": ["D8", "D9", "D10", "D11"],
                    },index=[8, 9, 10, 11],)

frames = [df1, df2, df3] # Nối 3 dataframe trên thành 1 dataframe với các tham số mặc định

# Các dataframe sẽ mặc định được nối theo columns
result = pd.concat(frames)
print (result)

In [10]:
df4 = pd.DataFrame({
                    "B": ["B2", "B3", "B6", "B7"],
                    "D": ["D2", "D3", "D6", "D7"],
                    "F": ["F2", "F3", "F6", "F7"],
                    },index=[2, 3, 6, 7],)

In [11]:
# Nối 2 dataframe với tham số join
# nối theo axis=1 là nối theo dòng

result = pd.concat([df1, df4], axis=1, join="inner") # Nối những dòng có index giống nhau, mặc định là giá trị outer

In [12]:
print (result)

    A   B   C   D   B   D   F
2  A2  B2  C2  D2  B2  D2  F2
3  A3  B3  C3  D3  B3  D3  F3

In [9]:
result = pd.concat([df1, df4], axis=1)
result = pd.concat([df1, df4], axis=1, join="outer")
# Hai câu lệnh trên là tương đương nhau, vì tham số join mặc định (không thêm vào) là outer

print (result)

     A    B    C    D    B    D    F
0   A0   B0   C0   D0  NaN  NaN  NaN
1   A1   B1   C1   D1  NaN  NaN  NaN
2   A2   B2   C2   D2   B2   D2   F2
3   A3   B3   C3   D3   B3   D3   F3
6  NaN  NaN  NaN  NaN   B6   D6   F6
7  NaN  NaN  NaN  NaN   B7   D7   F7

# Concatenating using append()

In [ ]:
# Nối dataframe df2 và df3 vào dataframe df1
result = df1.append([df2, df3])

In [13]:
# Nối dataframe df4 vào df1
# Trong trường hợp tham số ignore_index=True thì index trong dataframe sẽ được đánh số lại từ 0
# giá trị mặc định là False (nếu kg thêm vào)

result = df1.append(df4, ignore_index=True, sort=False)

# Về cơ bản lệnh trên giống lệnh pd.concat() không có tham số
pd.concat([df1, df4], ignore_index=True)

In [52]:
pd.concat([df1, df4], ignore_index=True)

     A   B    C   D    F
0   A0  B0   C0  D0  NaN
1   A1  B1   C1  D1  NaN
2   A2  B2   C2  D2  NaN
3   A3  B3   C3  D3  NaN
4  NaN  B2  NaN  D2   F2
5  NaN  B3  NaN  D3   F3
6  NaN  B6  NaN  D6   F6
7  NaN  B7  NaN  D7   F7

In [54]:
df1.append(df4, ignore_index=True, sort=True)

     A   B    C   D    F
0   A0  B0   C0  D0  NaN
1   A1  B1   C1  D1  NaN
2   A2  B2   C2  D2  NaN
3   A3  B3   C3  D3  NaN
4  NaN  B2  NaN  D2   F2
5  NaN  B3  NaN  D3   F3
6  NaN  B6  NaN  D6   F6
7  NaN  B7  NaN  D7   F7

# Joining