# Adding new column to existing DataFrame

In [1]:
import pandas as pd
 
# Khởi tạo một Dictionary với dữ liệu như sau
data = {'Name': ['Tâm', 'Thịnh', 'An', 'Vân'],
        'Height': [5.1, 6.2, 5.1, 5.2],
        'Qualification': ['Msc', 'MA', 'Msc', 'Msc']}
 
# Tạo một dataframe từ dictionary vừa tạo ở trên
df = pd.DataFrame(data)
 
# Khởi tạo một list mới để import vào dataframe thành 1 column mới
address = ['HCM', 'ĐN', 'Hà Nội', 'Đồng Nai']
 
# Inser list vào dataframe
df['Address'] = address

    Name  Height Qualification   Address
0    Tâm     5.1           Msc       HCM
1  Thịnh     6.2            MA        ĐN
2     An     5.1           Msc    Hà Nội
3    Vân     5.2           Msc  Đồng Nai

In [ ]:
# Tạo một dataframe

import pandas as pd

d = {'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']),
   'two' : pd.Series([5, 6, 7, 8], index=['a', 'b', 'c', 'd']),
    'three' : pd.Series([9, 10, 11, 12], index=['a', 'b', 'c', 'd']),
    'four' : pd.Series([13, 14, 15, 16], index=['a', 'b', 'c', 'd'])}

df = pd.DataFrame(d)
print (df)

In [ ]:
# Giả sử ta đang có 1 DataFrame 4 columns như trên
# Thêm 1 columns với một phép tính nào đó. Ví dụ cột 5 = cột 4 * 2

df['five'] = df['four'] * 2

# insert columns to dataframe
Sử dụng fucntion dataframe.insert() để chèn 1 column vào 1 vị trí bất kỳ mà ta chỉ định.

In [5]:
import pandas as pd
 
# Khởi tạo một Dictionary với dữ liệu như sau
data = {'Name': ['Tâm', 'Thịnh', 'An', 'Vân'],
        'Height': [5.1, 6.2, 5.1, 5.2],
        'Qualification': ['Msc', 'MA', 'Msc', 'Msc']}
 
# Tạo một dataframe từ dictionary vừa tạo ở trên
df = pd.DataFrame(data)
 
# Sử dụng DataFrame.insert() để thêm vào 1 cột mới tại 1 thứ tự nào đó
df.insert(2, "Age", [21, 23, 24, 21], True) # Thêm 1 cột 'Age' vào vị trí thứ hai của dataframe
 
# Observe the result
df

    Name  Height  Age Qualification
0    Tâm     5.1   21           Msc
1  Thịnh     6.2   23            MA
2     An     5.1   24           Msc
3    Vân     5.2   21           Msc

# Rename column in dataframe

In [22]:
import pandas as pd
 
# Khởi tạo một Dictionary với dữ liệu như sau
data = {'Name': ['Tâm', 'Thịnh', 'An', 'Vân'],
        'Height': [5.1, 6.2, 5.1, 5.2],
        'Qualification': ['Msc', 'MA', 'Msc', 'Msc']}
 
# Tạo một dataframe từ dictionary vừa tạo ở trên
df = pd.DataFrame(data)
   

# Tạo một dictionary với cặp key:value
# Trong đó key là tên của columns cũ, value là tên columns mới cần đổi.
new_col = {'Name':'Tên','Height':'Chiều Cao','Qualification':'Học Vấn'}

df.rename(columns = new_col, inplace = True)

print (df)

     Tên  Chiều Cao Học Vấn
0    Tâm        5.1     Msc
1  Thịnh        6.2      MA
2     An        5.1     Msc
3    Vân        5.2     Msc

In [23]:
# Để thay đổi tên của dòng trong dataframe
# Chúng ta sử dụng tham số index trong method df.rename()

new_row = {0:'R0',1:'R1',2:'R2',3:'R3'}

df.rename(index = new_row, inplace = True)

print(df)

      Tên  Chiều Cao Học Vấn
R0    Tâm        5.1     Msc
R1  Thịnh        6.2      MA
R2     An        5.1     Msc
R3    Vân        5.2     Msc